@media screen and (max-width: 768px) {
#searchResult {
height: auto;
font-family: monospace, cursive;
padding-top: 20px;
}

#searchResultTittle {
position: static;
text-align: center;
width: 100%;
height: auto;
margin-top: 20px;
margin-bottom: 10px;
font-size: 24px;
}

#messageBoard {
width: 100%;
border: none;
margin: 0;
margin-top: 15px;
padding-top: 10px;
background-color: white;
border-radius: 0;
}

#petImgDiv {
position: static;
width: 100%;
height: 250px;
margin-top: 20px;
overflow: hidden;
}

#petImg {
width: 40%;
display: block;
margin: auto;
border-radius: 5px;
border: 1px solid black;
}

fieldset {
position: static;
font-size: 22px;
border-radius: 5px;
margin: 0;
padding: 10px;
}

#PetName {
position: static;
width: 100%;
margin-top: 20px;
margin-bottom: 10px;
font-size: 32px;
text-align: center;
font-family: fantasy;
}

#PetData {
max-width: 100%;
max-height: 250px;
overflow: hidden;
margin-top: 20px;
}

#Contact {
width: 100%;
max-width: 100%;
margin-top: 20px;
margin-bottom: 20px;
}

#LostDayTime {
margin-top: 20px;
}

#LostPlace {
width: 100%;
max-width: 100%;
margin-top: 20px;
margin-bottom: 20px;
background-color: white;
}

#LostPlaceMap {
width: 100%;
height: 250px;
margin-top: 20px;
background-color: white;
}

#LostPlaceMap #thisIframe {
width: 100%;
height: 100%;
}

#PDFH1 {
background-color: red;
color: white;
font-weight: bold;
margin-top: 20px;
margin-bottom: 10px;
font-size: 24px;
padding: 10px;
}

#button {
position: static;
height: 40px;
font-size: 16px;
text-align: center;
background-color: white;
border: 0px;
cursor: pointer;
margin: 0;
margin-top: 20px;
margin-bottom: 10px;
}

#button img {
height: 100%;
}

#LostPlaceMap iframe {
width: 100%;
height: 100%;
}

#messageBoardTittle {
margin-left: 10px;
font-size: 24px;
}

#messageBoard textarea {
background-color: #F1F2F3;
margin-top: 20px;
margin-bottom: 10px;
}

#messageBoard textarea:focus,
#messageBoard textarea:hover {
background-color: white;
  }
#messageBoard textarea:focus {
height: 80px;
transition-duration: 500ms;
}

.replyDiv {
width: 100%;
text-align: left;
}

.replyName {
float: none;
font-size: 20px;
color: #61666d;
margin-top: 10px;
margin-bottom: 5px;
}

.replyTime {
display: block;
color: #61666d;
}

.replyDiv textarea {
margin-top: 5px;
width: 100%;
height: 50px;
border-radius: 5px;
}

.replyText {
margin-top: 10px;
}

.replyText {
padding-top: 5px;
padding-bottom: 5px;
}

textarea {
padding: 10px;
width: 100%;
}

textarea::placeholder {
font-size: 16px;
font-weight: bold;
}
}